.main-container{
  text-align: center;
  padding-top: 40px;
  width: 600px;
  margin: auto;
}

h1{
  color: mediumturquoise;
}

input{
  width: 250px;
}

.todo-container{
  background-color: whitesmoke;
  width: 500px;
  height: 500px;
  padding: 10px;
  margin: 40px;
}

.inner-container{
  display: inline-block;
  margin: 50px;
}

.item-list{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.list-style{
  list-style: none;
}

.list{
  list-style: none;
}

.empty{
  color: whitesmoke;
}
